@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');
* {
    transition: all 0.2s ease-in-out;
}

body{
    background-color: #008888;
    display:grid;
    place-items: center;
    height:100vh;
    margin:0;
    font-family:'Open Sans', sans-serif;
}

.card{
    background-color: white;
    border-radius:4px;
    height:80vh;
     width:75vw;
     box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
     text-align: center;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 1em;
     overflow: hidden;
}

img.birthday{
    max-height:40vh;
}
.text{
    padding: 1em;
    font-size:20px;
}

@media only screen and (min-width:1000px){
    .card{
        flex-direction: row-reverse;
    }
    .card img.birthday{
        max-width:65vw;
        max-height: 50vh
    }
}
@media only screen and (min-width:361px) and (max-width:640px){
    .card{
        flex-direction: row-reverse;
        font-size:15px;
    }
    .card img.birthday{
        max-width:45vw;
        max-height: 40vh
    }
}
@media only screen and (max-height:360px){
    .card{
        flex-direction: row-reverse;
        font-size:15px;
    }
    .card img.birthday{
        max-width:45vw;
        max-height: 40vh
    }
}
.muted{
    opacity:0.8;
}
.space{
    height:100px;
}
     /* ---- particles.js container ---- */
#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    margin:0;
    padding:0;
}
